<html>
  <head>
    <title>GAChat with web sockets</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="/app.js"></script>
  </head>
  <body>
    <h1>GAChat v2</h1>
    <p class="connecting">Please wait, connecting to server...</p>
    <form action="#">
    <input id="nick" type="text" placeholder="Enter your name" disabled="disabled" />
      <ul class="chatlines">
      </ul>
      <input type="text" id="text" placeholder="Enter text here" disabled="disabled"/>
      <input type="submit" value="Speak!" disabled="disabled" />
    </form>
    <div class="actions">
      <button data-type="trout">Troutslap</button>
      <button data-type="rofl">Rofl</button>
      <button data-type="sad">:'(</button>
      <button data-type="boost">Boost</button>
    </div>
  </body>
</html>